* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

.required {
    color: red;
    padding-left: 0.5rem;
}

.password-requirements {
    list-style: none;
    padding: 0.5rem 0 0 0;
    margin-top: 10px;
}

.password-requirements li {
    font-size: 0.875rem;
    color: #555555;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.password-requirements i {
    margin-right: 5px;
    color: #757575;
    margin-top: 5px;
}

body {
    background-image: url("../images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

form {
    margin: 0 2rem;
}

.form-title {
    font-size: 2rem;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    margin-bottom: 0.4rem;
    font-family: "JetBrains Mono", monospace; /* Apply the imported Google Font */
}

.form-subtitle {
    display: block;
    font-size: 0.75rem;
    font-weight: normal; /* Normal weight for subtitle */
    color: rgb(85, 85, 85); /* Grey color for subtitle */
    margin-top: 0.2rem; /* Add some spacing above the subtitle */
}

.input-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #757575;
    padding: 0.75rem 2.5rem 0.75rem 1.5rem; /* Adjust padding for the icon */
    line-height: 1.5; /* Set line-height to center the text vertically */
    font-size: 15px;
}

input:focus {
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(0, 0, 0); /* Increase the border-width here for the focused state */
}

input::placeholder {
    color: transparent;
}

.input-group i {
    position: absolute;
    right: 15px;
    top: 57%;
    /*transform: translateY(-50%);*/
    color: #757575;
    pointer-events: none; /* Prevent the icon from blocking input clicks */
}

.forgot-password {
    display: block;
    text-align: right;
    margin: 0.5rem 0 1.5rem 0; /* Add spacing between password field and button */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold; /* Make the text bold */
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    font-size: 1.1rem;
    padding: 15px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    transition: 0.9s;
    font-weight: bold; /* Make the button text bold */
    margin: 0.1rem 0 1.5rem 0;
}

.btn:hover {
    background: rgb(80, 80, 80);
}

.dashboard-container {
    display: flex;
    gap: 20px;
}

.profile-card,
.info-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card {
    width: 400px;
}

.profile-card i {
    position: absolute;
    right: 15px;
    top: 57%;
    /*transform: translateY(-50%);*/
    color: #757575;
    pointer-events: none;
}

.info-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-card {
    width: 300px;
}

.ability-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.ability-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ability-button.selected {
    background-color: #e0e0e0;
}

.ability-name {
    font-weight: bold;
}

.ability-cost {
    margin-top: 5px;
    font-size: 0.8em;
}

.ability-count {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: rgba(51, 170, 51, 0.5);
    height: 70px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.app-drop-down-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
}

.app-drop-down-container button {
    padding: 15px 0;
    box-shadow: 0 0 25px -20px #dbdbdb;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #8cc751;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0.1rem 0 1.5rem 0;
    font-size: 1.1rem;
}

.app-drop-down-container button:hover {
    background-color: #80bd43;
}

.app-drop-down-container ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 5px #d4d4d4;
    list-style: none;
}

.app-drop-down-container ul li {
    background-color: #fcfcfc;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.app-drop-down-container ul li:hover {
    background-color: #89cff0;
    color: #fcfcfc;
}

.navLinkContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navLinkImage {
    margin-right: 10px; /*adjust margin between image and text */
}

.scrollable-container {
    height: 100vh;
    overflow: scroll;
    padding: 7vh;
    background-color: #fcfcfc;
}

.space {
    margin-top: 20px;
}

ul {
    list-style-position: inside;
}
