* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}
#app {
    margin-top: 158px; /* Same as the navbar height */
}

.required {
    color: red;
    padding-left: 0.5rem;
}

/* Hide default reveal password icon for Webkit browsers (Chrome, Safari, newer versions of Edge) */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {

    right: 0;
}

/* Hide default reveal password icon for Firefox */
input[type="password"]::-moz-reveal-password-button {
    display: none !important;
}

/* Hide default reveal password icon for Internet Explorer and Edge (pre-Chromium) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-wrapper input {
    padding-right: 40px; /* Make room for the toggle button */
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.password-toggle:focus {
    outline: none;
}

.eye-icon {
    width: 20px;
    height: 20px; 
    opacity: 0.6;   
}

.password-toggle:hover .eye-icon {
    opacity: 1;  /* Full opacity on hover */
}

/* Ensure the icon doesn't interfere with the input */
.password-input-wrapper .fas.fa-lock {
    right: 40px;
}

.password-requirements {
    list-style: none;
    padding: 0.5rem 0 0 0;
    margin-top: 10px;
}

.password-requirements li {
    font-size: 0.875rem;
    color: #555555;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.password-requirements i {
    margin-right: 5px;
    color: #757575;
    margin-top: 5px;
}

body {
    background-image: url("../public/assets/images/AI_background_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

form {
    margin: 0 2rem;
}

.form-title {
    font-size: 2rem;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    margin-bottom: 0.4rem;
    font-family: "JetBrains Mono", monospace; /* Apply the imported Google Font */
}

.form-subtitle {
    display: block;
    font-size: 0.75rem;
    font-weight: normal; /* Normal weight for subtitle */
    color: rgb(85, 85, 85); /* Grey color for subtitle */
    margin-top: 0.2rem; /* Add some spacing above the subtitle */
}

.input-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #757575;
    padding: 0.75rem 2.5rem 0.75rem 1.5rem; /* Adjust padding for the icon */
    line-height: 1.5; /* Set line-height to center the text vertically */
    font-size: 15px;
}

input:focus {
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(0, 0, 0); /* Increase the border-width here for the focused state */
}

input::placeholder {
    color: grey;
}

.input-group i {
    position: absolute;
    right: 15px;
    top: 57%;
    /*transform: translateY(-50%);*/
    color: #757575;
    pointer-events: none; /* Prevent the icon from blocking input clicks */
}

.forgot-password {
    display: block;
    text-align: right;
    margin: 0.5rem 0 1.5rem 0; /* Add spacing between password field and button */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold; /* Make the text bold */
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    font-size: 1.1rem;
    padding: 15px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(44, 79, 175);
    color: white;
    cursor: pointer;
    transition: 0.9s;
    font-weight: bold; /* Make the button text bold */
    margin: 0.1rem 0 1.5rem 0;
}

.whiteText {
    color: white;
}

.btn:hover {
    background: rgb(151, 163, 214);
}

.btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.switch-buttons {
    display: flex;
    justify-content: space-around;
}

.dashboard-container {
    display: flex;
    gap: 20px;
}

.profile-card,
.info-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card {
    width: 400px;
}

.profile-card h2,
.info-card h2 {
    color: black;
}

.linear-gradient {
    background: linear-gradient(to bottom right, #2a2a72, #009ffd);
}

.profile-card i {
    position: absolute;
    right: 15px;
    top: 57%;
    /*transform: translateY(-50%);*/
    color: #757575;
    pointer-events: none;
}

.profile-card h2,
.info-card h2 {
    color: white;
}

.text-shadow {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black; /* White outline */
}

.default-deck-text {
    text-align: center;
}

.info-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-card {
    width: 400px;
}

.info-card h2 .elo-value {
    color: white;
}

.ability-grid {
  display: grid;
  gap: 10px;
}

.ability-grid.original-mode {
  grid-template-columns: repeat(7, 1fr);
}

.ability-grid.royale-mode {
  grid-template-columns: repeat(4, 1fr);
}

.ability-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    min-height: 135px;
}

.ability-button.selected {
    background-color: #e0e0e0;
    border-color: #999;
}

.ability-name {
    font-weight: bold;
}

.ability-cost {
    margin-top: 5px;
    font-size: 0.8em;
}

.ability-count {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: rgba(51, 170, 51, 0.5);
    height: 70px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.app-drop-down-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
}

.app-drop-down-container button {
    padding: 15px 0;
    box-shadow: 0 0 25px -20px #dbdbdb;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #8cc751;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0.1rem 0 1.5rem 0;
    font-size: 1.1rem;
    transition: 0.9s;
}

.app-drop-down-container button:hover {
    background-color: #6ca336;
}

.app-drop-down-container ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 5px #d4d4d4;
    list-style: none;
}

.app-drop-down-container ul li {
    background-color: #fcfcfc;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.app-drop-down-container ul li:hover {
    background-color: #89cff0;
    color: #fcfcfc;
}

.player-count-drop-down-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
}

.player-count-drop-down-container button {
    padding: 15px 0;
    box-shadow: 0 0 25px -20px #dbdbdb;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #eb2a2a;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0.1rem 0 1.5rem 0;
    font-size: 1.1rem;
    transition: 0.9s;
}

.player-count-drop-down-container button:hover {
    background-color: #eb6363;
}

.player-count-drop-down-container ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 5px #d4d4d4;
    list-style: none;
    z-index: 1000;
}

.player-count-drop-down-container ul li {
    background-color: #fcfcfc;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.player-count-drop-down-container ul li:hover {
    background-color: #89cff0;
    color: #fcfcfc;
}

.key-code-container {
    padding: 15px 0;
}

.navLinkContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navLinkImage {
    margin-right: 10px; /*adjust margin between image and text */
}

.scrollable-container {
    height: 100vh;
    overflow: scroll;
    padding: 7vh;
    background-color: #fcfcfc;
    width: 100vw;
}

.space {
    margin-top: 20px;
}

ul {
    list-style-position: inside;
}
.leaderboard-container {
    background: linear-gradient(to bottom right, #2a2a72, #009ffd);
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 100%;
    width: 600px;
    height: 750px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.leaderboard-list {
    list-style: none;
    padding: 0;
}

.leaderboard-item {
    display: flex;
    align-items: center; /* Vertically centers the items in the line */
    justify-content: start; /* Aligns items to the start of the flex container */
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%; /* Ensures the item stretches to the full width of its container */
}

.rank-icon {
    margin-right: 10px; /* Provides spacing between the medal and the username */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank-icon .rank {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Makes the span circular */
    color: white; /* White text color */
    font-weight: bold; /* Bold text */
    background-color: #ddd; /* Default rank color for others */
}

.player-name {
    flex-grow: 1; /* Allows the username to take up any extra space */
    margin-right: 20px; /* Provides spacing between the username and the score */
}

.player-score {
    font-weight: bold;
}

.leaderboard-item .rank-icon .rank-1 {
    background-color: gold;
}

.leaderboard-item .rank-icon .rank-2 {
    background-color: silver;
}

.leaderboard-item .rank-icon .rank-3 {
    background-color: #cd7f32; /* Bronze color */
}

.popup {
    position: absolute; /* Position the popup absolutely within its parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own size */
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px; /* Ensure a minimum width */
    max-width: 90%; /* Ensure it doesn't exceed a certain width */
    width: auto; /* Let the content dictate the width */
    text-align: center;
    display: inline-block; /* Make the width dynamic based on content */
    word-wrap: break-word; /* Ensure long words break to the next line */
    white-space: normal; /* Allow wrapping of text */
    z-index: 1000; /* Ensure it appears above other elements */
}

.popup span {
    display: block; /* Ensure the span takes up the full width */
    margin-bottom: 5px; /* Add space between the message and the button */
}

.popup button {
    width: 30%;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #e81e1e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;
    margin-right: 8px;
}

.popup button:hover {
    background-color: #d11a1a; /* Slightly darker red on hover */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px; /* Space between rows */
    width: 100%;
}

.custom-button {
    margin: 10px; /* Add spacing between buttons */
    padding: 10px 20px; /* Add padding inside buttons */
    border-radius: 8px; /* Make corners rounded */
    background-color: #007bff; /* Change background color */
    color: white; /* Change text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor on hover */
    position: relative; /* Position tooltip relative to the button */
}

.custom-button::after,
.ability-button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 5px); /* Adjust spacing from button */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden; /* Initially hide the tooltip */
    transition: opacity 0.3s, visibility 0.3s;
}

.custom-button:hover::after,
.ability-button:hover::after {
    opacity: 1;
    visibility: visible; /* Show the tooltip on hover */
    transition-delay: 1s;
}

.start-fresh-button {
    background-color: #dc3545; /* Red color for 'Start Fresh' button */
}

.start-fresh-button:hover {
    background-color: #bd2130; /* Darker shade on hover */
}

.save-button {
    background-color: #007bff; /* Blue color for 'Save' button */
}

.container#deck-builder-container {
    max-width: 100%; /* Allow full width */
    width: 100%; /* Set a fixed width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 80vh;
}

/* Add a media query for responsiveness */
@media (max-width: 1200px) {
    .container#deck-builder-container {
        width: 100%;
    }
}

.save-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.my-deck-button {
    background-color: #17a2b8; /* Teal color for 'My Deck' button */
}

.my-deck-button:hover {
    background-color: #138496; /* Darker shade on hover */
}

.ready-button {
    background-color: #28a745; /* Green color for 'Ready' button */
    width: 85%; /* Make 'Ready' button wider */
    margin-top: 0;
}

.ready-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.display-name-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping */
}

.display-name-container p {
    margin-right: 10px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    max-width: 200px; /* Set a maximum width */
}

.edit-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #007bff; /* Blue color for 'Edit' button */
    color: white; /* White text color */
    border: none; /* Remove default border */
}

.edit-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.update-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #28a745; /* Blue color for 'Update' button */
    color: white; /* White text color */
    border: none; /* Remove default border */
}

.update-btn:hover {
    background-color: #218838; /* Darker shade on hover */
}

.save-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.edit-input {
    width: 45%;
    margin-right: 10px;
    height: 2em;
    padding: 5px;
    box-sizing: border-box;
}

.logout-btn {
    padding: 12px 20px;
    background-color: #ff9800; /* Orange color for Log Out button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20%;
    width: 50%;
    display: block; /* Ensure the button is a block element */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    font: inherit; /* Use the default font */
    color: white;
    text-shadow: 1px 1px 2px black; /* Add a text shadow */
}

.logout-btn:hover {
    background-color: #e68900; /* Darker orange on hover */
}

.team-section {
    margin-top: 20%;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: white;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member h3,
.team-member p {
    color: black;
}

.team-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 1.5em;
    text-shadow: 1px 1px 2px black;
}

.contact-form form {
    display: inline-block;
    text-align: left;
}

.contact-form textarea {
    width: 100%;
    height: 150px; /* Increase the height of the textarea */
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc; /* Add a border for better visibility */
    color: white; /* Set the text color */
    padding: 10px;
    text-shadow: 1px 1px 2px black;
}

.contact-form .custom-button {
    display: block;
    margin: 0 auto;
    margin: 5% auto;
}

.contact-form button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup button {
    margin-top: 10px;
}

.error-message {
    font-size: 18px;
}

.loading-message {
    font-size: 18px;
}

.btn-cancel {
    font-size: 1.1rem;
    padding: 5px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(82, 82, 82);
    color: white;
    cursor: pointer;
    transition: 0.9s;
    font-weight: bold;
}

.btn-cancel:hover {
    background: rgb(32, 32, 32);
}

.click-instructions {
    display: inline-flex;
    align-items: center;
    gap: 2em; /* Add gap between spans */
}

.click-instructions span {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    margin-top: 1em;
}

.click-icon {
    width: 1.2em;
    height: auto;
    margin-right: 10px; /* Adjust the spacing as needed */
    margin-left: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.change-password-btn,
.logout-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 0 5px;
    margin-top: 15px;
    width: 200px;
    height: 100px;
}

.change-password-btn {
    background-color: #4caf50;
    color: white;
}

.change-password-btn:hover {
    background-color: #45a049;
}

.logout-btn {
    background-color: #f44336;
    color: white;
}

.logout-btn:hover {
    background-color: #da190b;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #007bff; /* Blue background */
    color: white; /* White text for better contrast */
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    margin-top: 0;
    color: white;
}

.modal-content ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-content li {
    margin-bottom: 5px;
}

.modal-content button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content button:hover {
    background-color: #f8f9fa;
    color: #0056b3;
}

.player-name {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.match-history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.game-history-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
}

.current-user-win{
    font-weight: bold;
    color: rgb(46, 197, 46);
}

.current-user-lose{
    font-weight: bold;
    color: rgb(161, 30, 30);
}

.match-history-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-history-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.match-history-btn:hover {
    background-color: #218838;
}

.game-history-item p {
    margin: 5px 0;
}

.game-history-item ul {
    list-style-type: none;
    padding-left: 10px;
}

.game-history-item li {
    margin: 3px 0;
}

.sort-order-btn {
    background-color: #08190c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sort-arrow {
    margin-left: 5px;
    font-size: 1.2em;
}

.abilities-container-friendly {
    display: flex;
    justify-content: center; /* Center the abilities container */
    gap: 10px; /* Adjust the gap between squares as needed */
    flex-wrap: wrap; /* Allow wrapping to the next line if there are many abilities */
    margin-top: 5px;
}

.abilities-container-ladder {
    display: flex;
    justify-content: center; /* Center the abilities container */
    gap: 10px; /* Adjust the gap between squares as needed */
    flex-wrap: wrap; /* Allow wrapping to the next line if there are many abilities */
    margin-top: 30px;
}
  
.abilities-container-profile {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: center; /* Center the abilities container */
    gap: 10px; /* Adjust the gap between squares as needed */
    max-width: calc(2 * 4rem + 10px); 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.abilities-container-leaderboard {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: center; /* Center the abilities container */
    gap: 10px; /* Adjust the gap between squares as needed */
    margin-top: 5px; /* Add space at the top */
    margin-bottom: 5px;
}

.ability-square {
    position: relative;
    width: 4rem; /* Adjust the size of the square as needed */
    height: 4rem; /* Adjust the size of the square as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Adjust the border style as needed */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.ability-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ability-img {
    width: 2.5rem; /* Adjust the icon size as needed */
    height: 2.5rem; /* Adjust the icon size as needed */
    object-fit: contain;
}

.ability-count {
    position: absolute;
    bottom: 1px; /* Adjust the position as needed */
    right: 1px; /* Adjust the position as needed */
    color: #000; /* Adjust the text color as needed */
    padding: 2px 5px; /* Adjust the padding as needed */
    font-size: 0.8rem; /* Adjust the font size as needed */
}

.leaderboard-item.current-user {
    background-color: #1a8cc1;
    font-weight: bold;
  }

.leaderboard-note {
    color: rgb(229, 37, 37);
}

.match-history-title {
    margin: 5px 0;
}

.tab-and-salary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.salary-display {
    margin-left: auto; /* Push to the right */
}

.salary-display h2 {
    margin: 0; /* Remove default margins */
    font-size: 1.2em; /* Adjust size as needed */
}

.tab-container {
    display: flex;
    margin-bottom: 20px; /* Remove bottom margin */
}

.deck-tab-container {
    display: flex;
    margin-bottom: 0;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1f3f4;
    border: none;
    border-radius: 8px 8px 0 0;
    margin-right: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-button:hover {
    background-color: #e8eaed;
}

.tab-button.active {
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content .tab-container {
    display: flex;
    margin-bottom: 20px;
}

.modal-content .tab-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1d5db;
    border: none;
    border-radius: 8px 8px 0 0;
    margin-right: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-content .tab-button.active {
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.tab-blue-background-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1d5db;
    border: none;
    border-radius: 8px 8px 0 0;
    margin-right: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-blue-background-button.active {
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.htp-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.htp-button-container button {
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 15em;
}

.htp-button-container button:hover {
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 0 auto 20px auto;
    max-width: 60em; /* Set the maximum width */
    width: 100%; /* Ensure it takes full width up to the max-width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.slide-container .slide-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
    margin: 5px 0;
}

.slide-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Repeat button styling */
.slide-container button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation-buttons {
    position: absolute;
    top: 50%;
    width: calc(100% + 120px); /* Extend the width to account for the buttons */
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    margin: 0 -40px; /* Negative margin to place buttons outside the container */
}

.navigation-buttons button {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navigation-buttons button:hover {
    color: #d3d3d3; /* Light grey color on hover */
}

.htp-button-container button:disabled {
    background-color: grey; /* Change to the desired color */
    color: white; /* Optional: Change text color */
    cursor: not-allowed; /* Optional: Change cursor to indicate it's disabled */
    opacity: 0.6; /* Optional: Make the button appear less prominent */
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
}

.prev-slide-btn {
    position: absolute;
    left: -10px;
}

.next-slide-btn {
    position: absolute;
    right: -10px;
}

.basics-button {
    background-color: yellow;
    color: black;
}

.attacking-button {
    background-color: red;
    color: white;
} 

.abilities-button {
    background-color: blue;
    color: white;
}

.game-stages-button {
    background-color: green;
    color: white;
}

.extra-info-button {
    background-color: purple;
    color: white;
}

.scrollable-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.slide-icon-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin: 0 -5em;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

.prev-slide-icon-btn {
    left: 0;
}

.next-slide-icon-btn {
    right: 0;
}

.slide-icon-btn:hover {
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    transform: translateY(-50%) scale(1.05); /* Slightly enlarge on hover */
}

.side-by-side-container {
    display: flex;
    justify-content: space-between;
}

.side-by-side-text {
    margin-top: 10px; /* Space between image and text */
    font-size: 14px; /* Adjust font size as needed */

}

.no-abilities-message {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 2px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fdd;
    margin: 13px;
}

.user-settings {
    border-top: 1px solid black;
    padding-top: 15px;
    margin-top: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    width: 40px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2e1e1e;
    transition: .3s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.setting-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap;  /* Prevent wrapping */
}

.setting-toggle label {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;  /* Use full width of container */
    justify-content: space-between;  /* Push checkbox to the right */
}

.setting-toggle input[type="checkbox"] {
    margin-left: 10px;
}
